[Desktop Entry]
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kwin4_roundedwindow_config
X-KDE-ParentComponents=kwin4_effect_roundedwindow
X-KDE-PluginKeyword=roundedwindow

Name=Roundedwindow
